{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link href="{% static 'blog/feedStyle.css' %}" rel="stylesheet">
    <title>{% block title %}My Feed{% endblock %}</title>

</head>
<body>
    <header>
        <nav class="navBar">
            <h1>InstaBlog</h1>
            <ul class="Menu">
                <li id="home"><a href="{% url 'feed' %}">Home</a></li>
                <li id="profile"><a>Profile</a></li>
                <li id="create-post"><a href="{% url 'add-post' %}">Add Post</a></li>
                <li> 
                    <li><button onclick="window.location.href='{% url 'logout' %}'">Logout</button></li>
                </li>
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}
        <!-- Page specific content will go here -->
        {% endblock %}
    </main>

</body>
</html>
